In [1]:
!pip install pandas==0.21

Requirement already satisfied: pandas==0.21 in e:\anaconda\envs\rec_sys\lib\site-packages (0.21.0)
Requirement already satisfied: pytz>=2011k in e:\anaconda\envs\rec_sys\lib\site-packages (from pandas==0.21) (2020.4)
Requirement already satisfied: numpy>=1.9.0 in e:\anaconda\envs\rec_sys\lib\site-packages (from pandas==0.21) (1.19.3)
Requirement already satisfied: python-dateutil>=2 in e:\anaconda\envs\rec_sys\lib\site-packages (from pandas==0.21) (2.8.1)
Requirement already satisfied: six>=1.5 in e:\anaconda\envs\rec_sys\lib\site-packages (from python-dateutil>=2->pandas==0.21) (1.15.0)

In [2]:
import pandas as pd
import numpy as np
import os
print(pd.__version__)
os.chdir('E:\\movieLens dataset')

0.21.0

In [ ]:
import sys
!{sys.executable} -m pip install pandas==0.21

In [3]:
movie = pd.read_csv('movie.csv')
print(movie.columns)
movie[['movieId', 'title']]

Index(['movieId', 'title', 'genres'], dtype='object')

       movieId                                              title
0            1                                   Toy Story (1995)
1            2                                     Jumanji (1995)
2            3                            Grumpier Old Men (1995)
3            4                           Waiting to Exhale (1995)
4            5                 Father of the Bride Part II (1995)
5            6                                        Heat (1995)
6            7                                     Sabrina (1995)
7            8                                Tom and Huck (1995)
8            9                                Sudden Death (1995)
9           10                                   GoldenEye (1995)
10          11                     American President, The (1995)
11          12                 Dracula: Dead and Loving It (1995)
12          13                                       Balto (1995)
13          14                                       Nixon (1995)
14          15                            Cutthroat Island (1995)
15          16                                      Casino (1995)
16          17                       Sense and Sensibility (1995)
17          18                                  Four Rooms (1995)
18          19              Ace Ventura: When Nature Calls (1995)
19          20                                 Money Train (1995)
20          21                                  Get Shorty (1995)
21          22                                     Copycat (1995)
22          23                                   Assassins (1995)
23          24                                      Powder (1995)
24          25                           Leaving Las Vegas (1995)
25          26                                     Othello (1995)
26          27                                Now and Then (1995)
27          28                                  Persuasion (1995)
28          29  City of Lost Children, The (Cité des enfants p...
29          30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...        ...                                                ...
27248   131146                      Werner - Volles Rooäää (1999)
27249   131148                                  What A Man (2011)
27250   131150         7 Dwarves: The Forest Is Not Enough (2006)
27251   131152                                 The Fat Spy (1966)
27252   131154  Die Bademeister – Weiber, saufen, Leben retten...
27253   131156                         Ants in the Pants 2 (2002)
27254   131158                                Manta, Manta (1991)
27255   131160                  Oscar and the Lady in Pink (2009)
27256   131162                      Por un puñado de besos (2014)
27257   131164                               Vietnam in HD (2011)
27258   131166                                  WWII IN HD (2009)
27259   131168                                     Phoenix (2014)
27260   131170                                   Parallels (2015)
27261   131172                              Closed Curtain (2013)
27262   131174                                   Gentlemen (2014)
27263   131176                             A Second Chance (2014)
27264   131180                     Dead Rising: Watchtower (2015)
27265   131231                                     Standby (2014)
27266   131237                         What Men Talk About (2010)
27267   131239                          Three Quarter Moon (2011)
27268   131241                           Ants in the Pants (2000)
27269   131243                Werner - Gekotzt wird später (2003)
27270   131248                              Brother Bear 2 (2006)
27271   131250                              No More School (2000)
27272   131252  Forklift Driver Klaus: The First Day on the Jo...
27273   131254                       Kein Bund für's Leben (2007)
27274   131256                      Feuer, Eis & Dosenbier (2002)
27275   131258                                 The Pirates (2014)
27276   131260                                Rentun Ruusu (2001)
27277   131262                                   Innocence (2014)

[27278 rows x 2 columns]

In [4]:
rating = pd.read_csv('rating.csv')
print(rating.columns)
rating[['userId', 'movieId', 'rating']]

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

          userId  movieId  rating
0              1        2     3.5
1              1       29     3.5
2              1       32     3.5
3              1       47     3.5
4              1       50     3.5
5              1      112     3.5
6              1      151     4.0
7              1      223     4.0
8              1      253     4.0
9              1      260     4.0
10             1      293     4.0
11             1      296     4.0
12             1      318     4.0
13             1      337     3.5
14             1      367     3.5
15             1      541     4.0
16             1      589     3.5
17             1      593     3.5
18             1      653     3.0
19             1      919     3.5
20             1      924     3.5
21             1     1009     3.5
22             1     1036     4.0
23             1     1079     4.0
24             1     1080     3.5
25             1     1089     3.5
26             1     1090     4.0
27             1     1097     4.0
28             1     1136     3.5
29             1     1193     3.5
...          ...      ...     ...
20000233  138493    50872     3.5
20000234  138493    51086     3.5
20000235  138493    51662     4.5
20000236  138493    51884     4.5
20000237  138493    52579     4.0
20000238  138493    52975     4.0
20000239  138493    53123     4.0
20000240  138493    53125     3.0
20000241  138493    53322     4.0
20000242  138493    53464     4.0
20000243  138493    53996     4.5
20000244  138493    55269     5.0
20000245  138493    55814     5.0
20000246  138493    56757     3.0
20000247  138493    56801     3.0
20000248  138493    58879     4.5
20000249  138493    59315     4.0
20000250  138493    59725     3.0
20000251  138493    59784     5.0
20000252  138493    60069     4.0
20000253  138493    60816     4.5
20000254  138493    61160     4.0
20000255  138493    65682     4.5
20000256  138493    66762     4.5
20000257  138493    68319     4.5
20000258  138493    68954     4.5
20000259  138493    69526     4.5
20000260  138493    69644     3.0
20000261  138493    70286     5.0
20000262  138493    71619     2.5

[20000263 rows x 3 columns]

In [5]:
data = pd.merge(movie, rating)

In [6]:
data.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,2009-01-02 01:13:41

In [7]:
data.shape

(20000263, 6)

In [8]:
len(movie['title'].unique())

#27262 Фильма

27262

In [9]:
len(rating['userId'].unique())

#138493 пользователя

138493

In [10]:
grouped_users_by_rating = rating.groupby('userId').count()['rating'].to_frame()

In [11]:
print('Среднее кол-во голосов от пользователей: ', grouped_users_by_rating['rating'].mean())
print('Медианное кол-во голосов от пользователей: ', grouped_users_by_rating['rating'].median())

Среднее кол-во голосов от пользователей:  144.4135299257002
Медианное кол-во голосов от пользователей:  68.0

In [12]:
grouped_movies_by_rating = data.groupby('title').count()['rating'].sort_values(ascending=False).to_frame()
grouped_movies_by_rating

                                                    rating
title
Pulp Fiction (1994)                                  67310
Forrest Gump (1994)                                  66172
Shawshank Redemption, The (1994)                     63366
Silence of the Lambs, The (1991)                     63299
Jurassic Park (1993)                                 59715
Star Wars: Episode IV - A New Hope (1977)            54502
Braveheart (1995)                                    53769
Terminator 2: Judgment Day (1991)                    52244
Matrix, The (1999)                                   51334
Schindler's List (1993)                              50054
Toy Story (1995)                                     49695
Fugitive, The (1993)                                 49581
Apollo 13 (1995)                                     47777
Independence Day (a.k.a. ID4) (1996)                 47048
Usual Suspects, The (1995)                           47006
Star Wars: Episode VI - Return of the Jedi (1983)    46839
Batman (1989)                                        46054
Star Wars: Episode V - The Empire Strikes Back ...   45313
American Beauty (1999)                               44987
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)            44980
Dances with Wolves (1990)                            44208
Raiders of the Lost Ark (Indiana Jones and the ...   43295
Fargo (1996)                                         43272
Seven (a.k.a. Se7en) (1995)                          43249
True Lies (1994)                                     43159
Aladdin (1992)                                       41849
Speed (1994)                                         41562
Back to the Future (1985)                            41426
Godfather, The (1972)                                41355
Fight Club (1999)                                    40106
...                                                    ...
Bottled Up (2013)                                        1
Love That Boy (2003)                                     1
Boulevard (1994)                                         1
Love Story (1943)                                        1
Bouncing Babies (1929)                                   1
Lucky Luke: The Ballad of the Daltons (1978)             1
Love Simple (2009)                                       1
Love Sick Love (2013)                                    1
Love Meetings (Comizi d'amore) (1964)                    1
Love Is a Woman (Death Is a Woman) (1966)                1
Love Is News (1937)                                      1
Love God?, The (1969)                                    1
Love and Other Troubles (2012)                           1
Love and Sex under Nazi Occupation (Amour et se...       1
Love in Another Language (Baska Dilde Ask) (2009)        1
Love is Eternal While It Lasts (2004)                    1
Love's Deadly Triangle: The Texas Cadet Murder ...       1
Love's Kitchen (2011)                                    1
Bosko's Parlor Pranks (1934)                             1
Love, Money, Love (2000)                                 1
Lovely to Look At (1952)                                 1
Borrowed Time (2012)                                     1
Lovers and Lollipops (1956)                              1
Lovesick (1983)                                          1
Loving (1970)                                            1
Lowlands (Tiefland) (1954)                               1
Luck, Trust & Ketchup: Robert Altman in Carver ...       1
Born to Defense (Zhong hua ying xiong) (1986)            1
Lucky Jordan (1942)                                      1
貞子3D (2012)                                              1

[26729 rows x 1 columns]

In [13]:
print('Среднее кол-во голосов от пользователей: ', grouped_movies_by_rating['rating'].mean())
print('Медианное кол-во голосов от пользователей: ', grouped_movies_by_rating['rating'].median())

Среднее кол-во голосов от пользователей:  748.2608028732838
Медианное кол-во голосов от пользователей:  18.0

In [14]:
mean_rating = pd.DataFrame(data.groupby('title').mean()['rating'])
mean_rating['number of ratings'] = pd.DataFrame(data.groupby('title').count()['rating'])
mean_rating.head(10)

,rating,number of ratings
title,,
#chicagoGirl: The Social Network Takes on a Dictator (2013),3.666667,3
$ (Dollars) (1971),2.833333,24
$5 a Day (2008),2.871795,39
$9.99 (2008),3.009091,55
$ellebrity (Sellebrity) (2012),2.000000,2
'71 (2014),3.657143,35
'Hellboy': The Seeds of Creation (2004),3.028736,87
"'Human' Factor, The (Human Factor, The) (1975)",2.250000,2
'Neath the Arizona Skies (1934),2.318182,22
'R Xmas (2001),2.578947,19

In [15]:
mean_rating.sort_values(by='rating', ascending=False)

                                                    rating  number of ratings
title
Small Roads (2011)                                     5.0                  1
Divorce (1945)                                         5.0                  1
The Beautiful Story (1992)                             5.0                  1
Into the Middle of Nowhere (2010)                      5.0                  1
The Sea That Thinks (2000)                             5.0                  1
The Wrecking Crew (2008)                               5.0                  1
Marihuana (1936)                                       5.0                  1
No Distance Left to Run (2010)                         5.0                  1
Stargate SG-1 Children of the Gods - Final Cut ...     5.0                  1
This Thing With Sarah (2013)                           5.0                  1
The great match (2007)                                 5.0                  1
Schmatta: Rags to Riches to Rags (2009)                5.0                  1
Flight of the Conchords: A Texan Odyssey (2006)        5.0                  1
Paying the Price: Killing the Children of Iraq ...     5.0                  1
Little Criminals (1995)                                5.0                  1
Consuming Kids: The Commercialization of Childh...     5.0                  2
The Old Gun (1975)                                     5.0                  1
A Night for Dying Tigers (2010)                        5.0                  1
Rent-a-Cat (2012)                                      5.0                  1
The Secret Country: The First Australians Fight...     5.0                  1
Inquire Within (2012)                                  5.0                  1
Loser Takes All! (Qui perd gagne !) (2003)             5.0                  1
Yonkers Joe (2008)                                     5.0                  1
Peace, Propaganda & the Promised Land (2004)           5.0                  1
A Gun for Jennifer (1997)                              5.0                  1
Tales That Witness Madness (1973)                      5.0                  1
Mishen (Target) (2011)                                 5.0                  1
Al otro lado (2004)                                    5.0                  1
Going Down in LA-LA Land (2011)                        5.0                  1
Latin Music USA (2009)                                 5.0                  1
...                                                    ...                ...
In the Name of the King III (2014)                     0.5                  1
Topralli (1966)                                        0.5                  1
Zeder (1983)                                           0.5                  1
Second Man, The (O Defteros Andras) (2013)             0.5                  1
Cutie Honey (2004)                                     0.5                  1
One and Only, The (2002)                               0.5                  1
Panic (2001)                                           0.5                  1
Pastoral Hide and Seek (Den-en ni shisu) (1974)        0.5                  1
Sundome (2007)                                         0.5                  1
I Was a Teenage Zombie (1987)                          0.5                  1
SOS - en segelsällskapsresa (1988)                     0.5                  1
Hollow Point (1996)                                    0.5                  1
Plankton (1994)                                        0.5                  1
Dr. Moreau's House of Pain (2004)                      0.5                  1
Pigs with a P.38 (1978)                                0.5                  1
Besotted (2001)                                        0.5                  2
Belly 2: Millionaire Boyz Club (2008)                  0.5                  1
House Party: Tonight's the Night (2013)                0.5                  1
Caltiki the Undying Monster (1959)                     0.5                  1
Camel Spiders (2011)                                   0.5                  1
Beethoven's Treasure Tail (2014)                       0.5                  1
Beethoven's 5th (2003)                                 0.5                  1
Perfume (2001)                                         0.5                  1
This Time Around (2003)                                0.5                  1
Beauty #2 (1965)                                       0.5                  2
I Dream Too Much (1935)                                0.5                  1
Cameron's Closet (1988)                                0.5                  1
Double Trouble (1992)                                  0.5                  1
Through the Forest (2005)                              0.5                  1
Slumber Party '57 (1976)                               0.5                  1

[26729 rows x 2 columns]

In [17]:
!pip install seaborn
import matplotlib.pyplot as plt
import seaborn as sns

Collecting seaborn
  Using cached seaborn-0.11.0-py3-none-any.whl (283 kB)
Requirement already satisfied: numpy>=1.15 in e:\anaconda\envs\rec_sys\lib\site-packages (from seaborn) (1.19.3)
Collecting pandas>=0.23
  Using cached pandas-1.1.4-cp36-cp36m-win_amd64.whl (8.7 MB)
Requirement already satisfied: matplotlib>=2.2 in e:\anaconda\envs\rec_sys\lib\site-packages (from seaborn) (3.3.2)
Collecting scipy>=1.0
  Using cached scipy-1.5.3-cp36-cp36m-win_amd64.whl (31.2 MB)
Requirement already satisfied: pytz>=2017.2 in e:\anaconda\envs\rec_sys\lib\site-packages (from pandas>=0.23->seaborn) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in e:\anaconda\envs\rec_sys\lib\site-packages (from pandas>=0.23->seaborn) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in e:\anaconda\envs\rec_sys\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\anaconda\envs\rec_sys\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in e:\anaconda\envs\rec_sys\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in e:\anaconda\envs\rec_sys\lib\site-packages (from matplotlib>=2.2->seaborn) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in e:\anaconda\envs\rec_sys\lib\site-packages (from matplotlib>=2.2->seaborn) (2020.6.20)
Requirement already satisfied: six>=1.5 in e:\anaconda\envs\rec_sys\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->seaborn) (1.15.0)
Installing collected packages: pandas, scipy, seaborn
  Attempting uninstall: pandas
    Found existing installation: pandas 0.21.0
    Uninstalling pandas-0.21.0:
      Successfully uninstalled pandas-0.21.0

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Отказано в доступе: 'e:\\anaconda\\envs\\rec_sys\\lib\\site-packages\\~~ndas\\io\\msgpack\\_packer.cp36-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
plt.figure(figsize = (20, 10))
plt.hist(mean_rating['number of ratings'], bins=30,)
plt.show
# ось ординат показывает кол-во раз, которое фильм был оценен
# оси абсцисс показывает кол-во фильмов, которые были оценены кол-во раз, которое по ОХ.

In [ ]:
plt.hist(mean_rating['rating'], bins=30,)
plt.show
#По Х рейтинг фильма
#По У кол-во фильмов с данным рейтингом

In [ ]:
sns.jointplot(x='rating', y='number of ratings', data=mean_rating, alpha=0.3)

(20000263, 6)

In [18]:
pivot_table = data.pivot_table(values='rating', index='userId', columns='movieId')

pivot_table

ValueError: negative dimensions are not allowed

In [ ]:
pivot_table_2 = data2.pivot_table(values='rating', index='userId', columns='movieId')
pivot_table_2